#colormenu{
 display: none;
}

#colorfield{
 width: 32px;
 height: 32px;
 float: left;
 background-color: grey;
}

.floatbutton{
 float: left;
}

#pinkify{
 float: left;
}

#fillcolor{
 float: left;
}

#patternscreen{
 width: 320px;
 height: 320px;
 border: 1px solid black;
 border-radius: 7px;
}

#itall{
 width: 320px;
 height: 320px;
}

#base64dump{
 width: 80%;
}

#helptext{
 display: none;
}

#beg{
 display: none;
}

body {
 background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNy42OTdweCIgaGVpZ2h0PSIzOC4xNTFweCIgPg0KPGcgc3R5bGU9J2ZpbGw6bm9uZTtzdHJva2U6Z3JlZW47Jz4NCjxwb2x5bGluZSBwb2ludHM9IjI4LjE4MiwzMi45MDkgMTkuMzg5LDI3LjgyNCAxMC4yMTQsMzIuMTg0IDEyLjMzMywyMi4yNSA1LjM1MiwxNC44NzIgMTUuNDU0LDEzLjgxOCAyMC4zMTMsNC44OTcgMjQuNDM4LDE0LjE4IA0KCTM0LjQyMywxNi4wNDUgMjYuODcsMjIuODM2ICIvPjwvZz4NCjwvc3ZnPg0K) repeat;
}
